---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Space tourism website">
  <!-- THE HEADER -->
  <Header />
  <!-- THE MAIN SECTION -->
  <main class="flex flex-col gap-[5.06rem] text-center">
    <!-- TEXT -->
    <section
      class="mt-[3.63rem] flex flex-col items-center gap-4 text-center md:mt-[6.63rem] md:gap-6"
    >
      <h1
        class="font-barlow-condensed text-base font-normal leading-normal tracking-[0.16875rem] text-[#D0D6F9] md:text-xl md:tracking-[0.21094rem]"
      >
        So, you want to travel to
      </h1>
      <h2
        class="font-bellefair text-[5rem] font-normal leading-[6.25rem] text-[#fff] md:text-[9.375rem] md:leading-[9.375rem]"
      >
        Space
      </h2>
      <p
        class="w-[20.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-[#D0D6F9] md:w-[27.75rem] md:text-base md:leading-7"
      >
        Let&#39;s face it; if you want to go to space, you might as well
        genuinely go to outer space and not hover kind of on the edge of it.
        Well sit back, and relax because we&#39;ll give you a truly out of this
        world experience!
      </p>
    </section>
    <!-- EXPLORE -->
    <section class="flex items-center justify-center text-center">
      <div
        class="relative size-[16.375rem] rounded-full bg-[#fff] opacity-[0.1036]"
      >
      </div>
      <div
        class="absolute flex size-[9.375rem] items-center justify-center rounded-full bg-[#fff] text-center"
      >
        <h2
          class="font-barlow text-xl font-normal leading-normal tracking-[0.07813rem] text-[#0B0D17]"
        >
          Explore
        </h2>
      </div>
    </section>
  </main>
</Layout>

<style>
  @media (min-width: 375px) {
    body {
      background: url("/assets/home/background-home-mobile.jpg") no-repeat;
      background-size: cover;
      mix-blend-mode: screen;
    }
  }
  @media (min-width: 768px) {
    body {
      background: url("/assets/home/background-home-tablet.jpg") no-repeat;
      background-size: cover;
    }
  }
  @media (min-width: 1440px) {
    body {
      background: url("/assets/home/background-home-desktop.jpg") no-repeat;
      background-size: cover;
    }
  }
</style>
