---
import "@/styles/globals.css";
---

<header class="headerWrappe m-6">
  <div class="logoMenuWrapper flex items-center justify-between">
    <!-- LOGO -->
    <img src="/assets/shared/logo.svg" alt="logo" class="" />
    <!-- MENU ICON -->
    <img
      src="/assets/shared/icon-hamburger.svg"
      alt="openMenu"
      class="md:max-xl:hidden"
      id="openMenu"
    />
    <!-- CLOSE ICON -->
    <img
      src="/assets/shared/icon-close.svg"
      alt="closeMenu"
      class="hidden"
      id="closeMenu"
    />
  </div>
  <nav class=""></nav>
</header>
